.small {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.medium {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.big {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}
